{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
  <h1>{% trans "Set Password" %}</h1>

  <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.password1.errors }}
    {{ form.password1|add_class:"textInput" }}
    {{ form.password2.errors }}
    {{ form.password2|add_class:"textInput" }}
    <input class="button button--type-highlighted spacerTop-s spacerBottom-s" type="submit" name="action" value="{% trans 'Set Password' %}"/>
  </form>
{% endblock %}
