{% extends "musr/base.html" %}
{% load staticfiles %}

{% block head_title %}Update Profile Picture{% endblock %}

{% block content %}
  <div class="maxWidth-4xl">
    <h1 class="textSize-xl">Change Profile Picture</h1>
    {% if profile.picture %}
      <div class="currentProfilePicture spacerBottom-m">
        <span class="spacerRight-m">Current photo:</span>
        <img class="maxHeight-2xl" src="{{ profile.picture.url }}" />
      </div>
    {% endif %}
    <form id="photoUpload" method="post" action="{% url 'account_photo_upload' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <input class="" type="file" name="photoUpload" id="photoUpload"/>
      <input class="button button--type-highlighted spacerTop-s spacerBottom-s" type="submit" name="submit" value="Upload Photo"/>
    </form>
    {% if profile.picture %}
      <form id="photoRemove" method="post" action="{% url 'account_photo_upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="" type="hidden" name="photoRemove" id="photoRemove" value="true" />
        <input class="button button--type-primary" type="submit" name="submit" value="Remove Photo"/>
      </form>
    {% endif %}
  </div>
{% endblock %}
