{% load musr_template_tags %}
{% load static %}

<!DOCTYPE html>
<!-- MUSR base.html -->
<html>
  <head>
    <title>{% block title%}MUSR{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'poco.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'poco-utilities.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'focus.css' %}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="header c-grey-1">
        <ul class="center nav">
          <li class="{% current 'whats_hot' %}"><a href="{% url 'whats_hot' %}">Whats's Hot</a> </li>
          {% if user.is_authenticated %}
            <li class="{% current 'feed' %}"><a href="{% url 'feed' %}">Feed</a></li>
            <li><a href="{% url 'own_profile' %}">Your Profile</a></li> <!-- own profile doens't get highlighted because the link will bea  photo -->
            <li class="{% current 'account' %}"><a href="{% url 'account' %}">Account</a></li>
          {% else %}
            <li class="{% current 'account_login' %}"><a href="{% url 'account_login' %}">Login</a></li>
            <li class="{% current 'account_signup' %}"><a href="{% url 'account_signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>

        <div class="center">
          <h1 class="textSize-xl c-primary-light">MUSR</h1>
        </div>

        <div class="center c-grey-1">
          {% if user.is_authenticated %}
            <span class="headerItem">Hey {{ user }}</span>
            <span class="spacerLeft-s {% current 'account_logout' %}"><a class="logout headerItem" href="{% url 'account_logout' %}">Logout</a></span>
            <div class="spacerLeft-s">
              <button class="addPostButton button button--type-highlighted">Add Post</button>
            </div>
          {% else %}
            <span>You are not logged in</span>
          {% endif %}
        </div>
      </div>

      {% if messages %}
        <div class="messages dialog">
          {% for message in messages %}
            <span class="">{{message}}</span>
          {% endfor %}
        </div>
      {% endif %}

      <div class="spacerLeft-xl">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <div class="addPost spaceframe-l">
      {% add_post %}
    </div>

    <!-- maybe reimplement debounce without lodash? TODO -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script type="text/javascript" src="{% static 'scrolling.js' %}"></script>
    <script type="text/javascript" src="{% static 'play-button.js' %}"></script>

    {% if user.is_authenticated %}
      {% csrf_token %}
      <script type="text/javascript" src="{% static 'add-post.js' %}"></script>
      <script type="text/javascript" src="{% static 'postify-links.js' %}"></script>
    {% endif %}
  </body>
</html>
