{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Change Name" %}{% endblock %}

{% block content %}

    Your name is currently {{ user.first_name }} {{ user.last_name }}
    <h1>{% trans "Change Name" %}</h1>
    <form id="changeName" method="post" action="{% url 'change_name' %}">
      {% csrf_token %}
      <input class="" type="text" value="{{ user.first_name }}" placeholder="First Name"  name="firstName" id="firstName"  autocomplete="off"/>
      <input class="" type="text" value="{{ user.last_name }}" placeholder="Last Name" name="lastName" id="lastName"  autocomplete="off"/>
      <button class="button button--type-highlighted spacerTop-s spacerBottom-s" type="submit" name="action">{% trans "Change Name" %}</button>
    </form>
  {% endblock %}
