{% extends "musr/base.html" %}
{% load staticfiles %}

{% block content %}
  <div>uploading photo for {{ user }}</div>
  {% if profile.picture %}
    current photo:
    <img src="{{ profile.picture.url }}" />
  {% endif %}
  <form id="photoUpload" method="post" action="{% url 'account_photo_upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="photoUpload" id="photoUpload"/>
    <input type="submit" name="submit" value="Upload Photo"/>
  </form>
{% endblock %}
