<div class="post card">
  <div class="post--poster spaceframe-s">
    <img src="{{ poster.picture.url }}" class="spaceframe-s"/>
    <div class="post--poster--info">
      <span class="textSize-s ">{{ poster }}</span>
      {% if re_poster %}
        <span class="textSize-xs">Reposted by {{ re_poster }}</span>
      {% endif %}
      <span class="textSize-xs">Posted {{ song.date }}</span>
    </div>
  </div>
  <div class="post--song">
    <img src="{{ song.album_art }}" />
    <div class="post--song--wrapper spacerTop-s">
      <div class="post--song--play-button">
        <button>play</button>
      </div>
      <div class="post--song--info">
        <span class="textSize-m fontWeight-700 c-primary-2xlight">{{ song.title }}</span>
        <span class="textSize-s">{{ song.artist }}</span>
        <span class="textSize-s ">{{ song.album }}</span>
      </div>
    </div>
    <audio src="{{ song.preview }}"  />
  </div>
</div>
