<div class="post card">
  {% if button_text|length > 0 %}
	<div class="user--button--container">
	<button id="{{ profile.user.username }}" class="profile--buttons--followButton button button--type-highlighted">{{ button_text }}</button>
	</div>
  {% endif %}
  <div class="follower--profile">
    <img src="/media/{{ profile.picture }}" />
    <div class="follower--profile--info--wrapper spacerTop-s">
      <div class="follower--profile--info">
        <span class="textSize-m fontWeight-700 c-primary-2xlight">{{ profile.user.username }}</span>
		{% if profile.user.first_name|length > 0 %}
			<span class="textSize-s">{{ profile }}</span>
		{% endif %}
        <span class="textSize-s ">Followers: {{ followers }}</span>
      </div>
    </div>
  </div>
</div>
