/* General */
a {
  color: var(--c-primary-2xlight);
  text-decoration: none;

  transition: color 0.1s ease-in-out;
}
a:hover {
  color: var(--c-primary-xlight);
  text-decoration: none;
}

body {
  overflow-y: overlay;
}

/* Nav */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 720px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.nav,
.errorlist {
  list-style-type: none;
}
.nav > li {
  display: block;
  padding: 0 10px;
  white-space: nowrap;
}
.nav > li > a {
  color: var(--c-primary-2xlight);
  text-decoration: none;

  transition: color 0.1s ease-in-out;
}
.nav > li > a:hover {
  color: var(--c-primary-xlight);
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 720px) {
  .center {
    padding: 0;
    margin: 0;
  }
}

.headerItem {
  white-space: nowrap;
  text-decoration: none;
}

li.active {
  /* Ironically only Safari doens't use the -webkit prefix */
  -webkit-text-stroke: 1px;
  text-stroke: 1px;
}

/* Search box */
.textInput.userSearch {
  width: 88px; /* width of "Search" in IBM Plex Sans */
  border-width: 0;

  transition: all 0.35s ease-in-out;
}
.textInput.userSearch::placeholder {
  color: var(--c-grey-2);
}
.textInput.userSearch:focus,
.textInput.userSearch.active {
  width: 300px;
  border-width: 2px;
}

/* Posts */
.hoizontalContainer {
  position: relative;
  left: calc(var(--space-2xl) * -1);
  width: 100vw;
}

/* Nasty little hack to correct positioning on mobile */
@media (max-width: 720px) {
  .hoizontalContainer {
    left: calc(var(--space-xl) * -1 + var(--space-m));
  }
}

.horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  -webkit-overflow-scrolling: touch;
}
.horizontal::-webkit-scrollbar {
  background: transparent;
}

/* Firefox fix */
@-moz-document url-prefix() {
  body,
  .horizontal {
    overflow: hidden !important;
  }
}

.horizontal:first-child {
  padding-left: var(--space-xl);
}

@media (max-width: 720px) {
  .horizontal:first-child {
    padding-left: 0;
    margin-left: 0;
  }
}

/* Individual post cards */
/* width of a card: 350px */
.post {
  flex: 0 0 auto;

  margin: var(--space-l);

  width: 350px;
}

.post.card {
  padding: var(--space-s) var(--space-m);
}

.post--post-button {
  display: inline;
  float: right;
}
.post--post-button button {
  background: none;
  border: none;
  color: var(--c-gray-1);
  transition: all 0.2s ease-in-out;
}
.post--post-button button:hover:not(.reposted) {
  color: var(--c-primary-dark);
  cursor: pointer;
}

.post--poster {
  height: var(--space-xl);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post--poster img {
  max-width: 40%;
}
.post--poster img,
.userSearchResults--result img {
  /* Normalize height */
  -webkit-clip-path: circle(30% at 50% 50%);
  clip-path: circle(30% at 50% 50%);
  height: auto;
  max-height: 170%;
}

.post--poster--info {
  display: flex;
  flex-direction: column;
}
.post--poster--info span {
  line-height: var(--lineHeight-xs);
}

.post--song img {
  left: calc(var(--space-m) * -1);
  position: relative;
  width: 350px;
}

.post--song--info {
  display: flex;
  flex-direction: column;
}
.post--song--info span {
  line-height: var(--lineHeight-xs);
  padding-bottom: var(--space-s);
  max-width: var(--space-3xl);
}

.post--song--wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: right;
}

.post--song--play-button button {
  background: transparent;
  border: none;
}

/* Add Post */

.addPostForm {
  display: none;
}
.addPost .textInput {
  background: rgba(0, 0, 0, 0.4);
}

/* Background on add post appearing */
.container {
  transition: all 0.2s ease-in-out;
}
.container.addingPost {
  filter: blur(4px) brightness(33%);
  transform: scale(0.97, 0.97);
}

/* List of search result scrolls up */
.songSearchResults {
  min-height: 0px;
  transition: all 0.3s ease-in;
  list-style-type: none;
}
.songSearchResults.loaded {
  min-height: 100vh;
}

.songSearchResults.loaded:empty::before {
  content: 'No results found!';
}
/* Song results */

.songSearchResult {
  cursor: pointer;
  display: flex;

  border-radius: var(--textboxBorderRadius);

  transition: 0.2s all ease-in-out;
}
.songSearchResult:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.songSearchResult img {
  object-fit: contain;
  width: 25vw; /* TODO: this isn't great/doens't work well on mobile... find another solution? */
  max-height: 100px;
}

.songInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.songInfo .songInfo--artistAlbum,
.songInfo strong {
  line-height: 1.25;
}

/* Button */

.button.addPostButton {
  min-width: var(--space-xl);
  height: var(--space-l);
}

/* Add post Form */
.container ~ .addPost {
  z-index: -99;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.container.addingPost ~ .addPost {
  opacity: 1;
  z-index: 99;
}
.addPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  min-height: 100vh;
}

.songSearchWrapper {
  display: flex;
  width: 100%;
}

/* Messages */
.dialog.messages {
  position: absolute;
  right: var(--space-l);
  box-shadow: var(--boxShadow-l);
  z-index: 2;
}

/* SocialAccount buttons */
ul.socialaccount_providers {
  list-style-type: none;
  display: flex;
}
ul.socialaccount_providers li::before {
  content: 'Login with ';
  display: inline;
}

ul.socialaccount_providers li {
  padding: 0 var(--space-s);
}
ul.socialaccount_providers li:first-of-type {
  padding: 0 var(--space-s) 0 0;
}

/* Login */
.button--type-highlighted {
  display: block;
  transition: all 0.2s ease-out;
}

.button--type-highlighted:hover {
  background-color: var(--c-primary-light);
  color: var(--c-primary-2xdark);
}

form .textInput {
  margin: var(--space-s) 0;
}

form,
.socialaccount_providers {
  max-width: var(--space-4xl);
}

.formSubmitButtons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

div.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Profile picture */
.currentProfilePicture {
  display: flex;
  align-items: center;
}

/* Profile page */
.profile {
  /* CSS Grid may be a better solution for this */
  display: flex;
  align-items: flex-start;
}
@media (max-width: 720px) {
  .profile {
    flex-direction: column;
  }
}

.profile img {
  /* TODO: clip path here? */
}

.profile * {
  padding-right: var(--space-l);
}

/* TODO: is this the best position for the follow button? */
.profile--buttons {
  flex: 2;
}
.profile--buttons--followButton {
  float: right;
}

/* User Search Results */
.userSearchResults {
  list-style-type: none;
}

.userSearchResults--result {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: var(--space-3xl);
}

.userSearchResults--result--info {
  display: flex;
  flex-direction: column;
}
